<div class="bar">
    <span><%= username %></span>
    <a href="/write">Write article</a>
    <a href="/users/logout">Exit</a>
    <a href="/" class="home">
      <img src="/images/home.png" alt="homepage">
    </a>
  </div>
  