<!DOCTYPE html>
<html lang="en">

<head>

    <title>Login</title>
    <%- include head %>
</head>

<body>

    <div class="form-box">
        <form action="/users/login" method="post">
            <input type="text" name="username" value="" placeholder="username">
            <input type="password" name="password" value="" placeholder="password">
            <input type="submit" name="" value="log in">
        </form>
        <div>Not have account yet,<a href="/regist"> Sign up</a></div>
    </div>

</body>

</html>