<!DOCTYPE html>
<html lang="en">

<head>

    <title>Login</title>
    <%- include head %>
</head>

<body>
    <div class="bg">
        <img src="./images/bg.jpg" alt="">
    </div>
    <div class="form-box">
        <img src="./images/login.png" alt="" class="loginHead">
        <form action="/users/login" method="post">
            <input type="text" name="username" value="" placeholder="username" required>
            <input type="password" name="password" value="" placeholder="password" required>
            <input type="submit" name="" value="log in">
        </form>
        <div>Not have an account yet,<a href="/register"> Sign up</a></div>
    </div>

</body>

</html>